body {
    text-align: center;
}

#wel {
    color: #FFFFFF;
    bottom: 0;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}
#marqueeStyle{
    font-weight: 700;
    font-size: 25px;
    
}